#heading {
  text-align: center;
  color: rgb(35, 120, 120);
  text-transform: uppercase;
}
#heading:hover {
  box-shadow: 0px 8px 16px darkcyan;
  transition: 0.5s;
}

h1,
h2 {
  text-align: center;
  color: rgb(50, 50, 150);
  text-transform: uppercase;
}
#line:hover {
  box-shadow: 0px 8px 16px purple;
  transition: 0.5s;
}

p {
  color: #444;
  line-height: 1.6;
  font-size: 16px;
}

body {
  background-color: #f0f8ff;
  background-image: url("/HTML/Image/bgc_img.avif");
  background-size: cover;
  font-family: "Arial, Helvetica, sans-serif";
}

header {
  background-color: gray;
  padding: 15px;
}

header:hover {
  background-color: rgb(60, 181, 222);
  box-shadow: 0px 8px 16px black;
  transition: 0.5s;
}

.nav {
  text-decoration: none;
  color: darkblue;
  margin: 0 10px;
  font-weight: bold;
}

td,
th {
  padding: 5px;
}

footer {
  text-align: center;
  color: black;
  padding: 10px;
}

#para {
  color: blue;
}

.table {
  background-color: rgb(97, 43, 147);
}

button {
  background-color: rgb(9, 39, 146);
  color: white;
}

input {
  background-color: rgb(211, 211, 244);
}

textarea {
  background-color: rgb(211, 211, 244);
}
